<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="<%= @tags.size < 1 ? 'col-md-12' : 'col-md-9' %>">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link disabled" href="">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="">Global Feed</a>
            </li>
          </ul>
        </div>

        
        <%= render @articles %>
        <%= will_paginate @articles %>
      </div>

      <% if @tags.size > 0 %>
        <div class="col-md-3">
          <div class="sidebar">
            <p>Popular Tags</p>

            <div class="tag-list">
              <% @tags.each do |tag| %>
                <a href="" class="tag-pill tag-default"><%= tag.name %></a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

</div>
